header {
    text-align: center;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
}

.card {
    margin-top: 30px;
}

.card-header {
    text-align: center;
}

strong {
    font-size: x-large;
}

form {
    margin-bottom: 15px;
}

/* Max height before content stops expanding downward and receives a scroll bar */
#recents {
    max-height: 150px;
}

.col-xs {
    background-color: #eeeeee;
}

#forecast-title {
    margin-bottom: 15px;
}