header {
    text-align: center;
    background-color: #3f3f3f;
    color: white;
    padding: 10px;
}

.card {
    margin-top: 30px;
}

.card-header {
    text-align: center;
}

strong {
    font-size: x-large;
}

form {
    margin-bottom: 15px;
}

#recents {
    max-height: 150px;
}